<div class="footer bg-primary">
  <div class="container">
    <!-- footer-top -->
    <div class="d-flex justify-content-between footer-top-container">
      <div>
        <!-- navbar -->
        <div class="d-none d-md-block">
          <ul class="list-unstyled d-flex mb-md-6 mb-lg-7">
            <li>
              <a class="me-8" href="index.html">首頁</a>
            </li>
            <li>
              <a class="me-8" href="#">系列鏡框</a>
            </li>
            <li>
              <a class="me-8" href="storeLocation.html">門市據點</a>
            </li>
            <li>
              <a class="me-8" href="#">部落格</a>
            </li>
            <li>
              <a href="#">常見問題</a>
            </li>
          </ul>
        </div>
        <!-- phone、mail -->
        <div>
          <a class="footer-contact-link mb-2" href="tel:+886-0800-000-000"
            ><span class="material-icons footer-contact-icon"> phone </span
            >0800-000-000</a
          >
        </div>
        <div>
          <a class="footer-contact-link" href="mailto:glasses@business.com"
            ><span class="material-icons footer-contact-icon">
              mail_outline </span
            >glasses@business.com</a
          >
        </div>
      </div>
      <!-- social icon -->
      <div>
        <ul class="list-unstyled d-flex">
          <li>
            <a href="#"
              ><img
                class="footer-icon-img"
                src="../assets/images/ic-social-fb.png"
                alt="icon fb"
            /></a>
          </li>
          <li class="ms-2 ms-md-4 ms-md-6">
            <a href="#"
              ><img
                class="footer-icon-img"
                src="../assets/images/ic_social_ig.png"
                alt="icon ig"
            /></a>
          </li>
          <li class="ms-2 ms-md-4 ms-md-6">
            <a href="#"
              ><img
                class="footer-icon-img"
                src="../assets/images/ic_social_line.png"
                alt="icon line"
            /></a>
          </li>
        </ul>
      </div>
    </div>
    <!-- footer-bottom -->
    <div
      class="d-md-flex justify-content-md-between border-top footer-bottom-container"
    >
      <p class="roboto-regular mb-2 mb-md-0">
        Copyright © 2020 Glasses.All rights reserved.
      </p>
      <div class="d-md-flex">
        <p class="footer-bottom-p mb-2 mb-md-0">隱私權政策</p>
        <p class="footer-bottom-p ms-md-8">服務條款</p>
      </div>
    </div>
  </div>
</div>
