<div class="header bg-primary">
  <div
    class="container-md header-container-px d-md-flex justify-content-md-between"
  >
    <!-- logo -->
    <div class="header-logo-container py-4">
      <img
        class="header-logo"
        src="../assets/images/logo-white.png"
        alt="white logo"
      />
    </div>
    <!-- cards -->
    <div class="header-card-container d-flex flex-wrap">
      <div
        class="header-card-col d-md-flex justify-content-md-end align-items-md-center"
      >
        <a href="#" class="bg-primary header-card-link">系列鏡框</a>
      </div>
      <div
        class="header-card-col d-md-flex justify-content-md-end align-items-md-center"
      >
        <a href="#" class="bg-primary header-card-link">門市據點</a>
      </div>
      <div
        class="header-card-col d-md-flex justify-content-md-end align-items-md-center"
      >
        <a href="#" class="bg-primary header-card-link">部落格</a>
      </div>
      <div
        class="header-card-col d-md-flex justify-content-md-end align-items-md-center"
      >
        <a href="#" class="bg-primary header-card-link">常見問題</a>
      </div>
    </div>
  </div>
</div>
