<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>index</title>
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css"
    />
  </head>
  <body>
    <%- include('./layout/header'); -%>

    <div class="container store-container">
      <!-- title -->
      <h1 class="store-h1">門市據點</h1>
      <div class="store-select d-flex">
        <label class="input-group-text store-select-label" for="store"
          >選擇分店</label
        >
        <select class="form-select select-option ms-2 ms-md-4" id="store">
          <option selected>Choose...</option>
          <option value="台北中山旗艦店">台北中山旗艦店</option>
          <option value="台北綠園店">台北綠園店</option>
          <option value="台中清水旗艦店">台中清水旗艦店</option>
          <option value="高雄中正形象店">高雄中正形象店</option>
          <option value="高雄夢時代店">高雄夢時代店</option>
        </select>
      </div>
      <!-- card、map -->
      <div class="d-lg-flex">
        <div class="row">
          <!-- card -->
          <div class="col-lg-5 d-md-flex d-lg-block mb-5 mb-lg-0">
            <div class="row">
              <div class="col-md-6 col-lg-12">
                <img
                  class="store-img"
                  src="../assets/images/storepage-1.png"
                  alt="store page"
                />
              </div>
              <div class="col-md-6 col-lg-12">
                <div class="border store-card">
                  <p class="fs-4 py-2 px-5 border-bottom">台北中山旗艦店</p>
                  <ul class="list-unstyled m-0 py-4 px-5">
                    <li class="mb-2">
                      <a class="store-card-link" href="#"
                        ><span class="material-icons store-card-icon">
                          call </span
                        >電話：(02)000-1234</a
                      >
                    </li>
                    <li class="mb-2">
                      <a class="store-card-link" href="#"
                        ><span class="material-icons store-card-icon">
                          schedule </span
                        >營業時間：10:00-21:00</a
                      >
                    </li>
                    <li>
                      <a class="store-card-link" href="#"
                        ><span class="material-icons store-card-icon">
                          location_on </span
                        >地址：台北市中山區南京東路25巷2-1號</a
                      >
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <!-- map -->
          <div class="col-lg-7">
            <iframe
              src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3614.4637554624787!2d121.53529517600174!3d25.052266177804608!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3442abdf92494d29%3A0xd908a8a881f73476!2zMTA0OTHlj7DljJfluILkuK3lsbHljYDljZfkuqzmnbHot6_kuInmrrUyNeiZnw!5e0!3m2!1szh-TW!2stw!4v1724379985808!5m2!1szh-TW!2stw"
              class="store-map"
              style="border: 0"
              allowfullscreen=""
              loading="lazy"
              referrerpolicy="no-referrer-when-downgrade"
            ></iframe>
          </div>
        </div>
      </div>
    </div>

    <%- include('./layout/footer'); -%>

    <script type="module" src="../main.js"></script>
  </body>
</html>
